


.cart-item{
  border: 0.01rem solid black;
  width: 15rem;
}

.img{
  /* height: 5rem; */
  width: 100%;
}

.desc-grp{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price{
  text-align: start;
}
.item-name{
  font-size: 0.8rem;
  text-align: start;
  font-weight: 600;
  color: rgb(132, 132, 132);
}

.btn-grp{
   text-align: end;
}
.btn{
  padding: 0.3rem 0.5rem;
  border: none;
margin-top: 5px;
background-color: rgb(243, 242, 242);
border-radius: 5px;
}
.old , .new{
  font-size: 0.7rem;
  padding: 0px  5px;
}

.old{
  text-decoration: line-through;
}
.new{
  background-color: #24F345;
}
